* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#footer a,
#footer p {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#subscribe h3 {
  color: #7a37d5;
  font-size: 23px;
  text-align: center;
  margin-bottom: 20px;
}

#subscribe {
  margin-bottom: 50px;
}

#mentalize {
  padding: 40px;
  margin-top: 10px;
  margin-bottom: 50px;
  background: rgba(228, 222, 222, 0.3);
}

#mentalize h3 {
  font-family: Arvo;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

#services {
  margin: 50px 0;
  padding: 20px;
}
#services img {
  display: block;
  margin: 0 auto;
  height: 100px;
  margin-bottom: 15px;
}

#services h3 {
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 39px;
  letter-spacing: 0.02em;
  color: #5622a8;
}

#services h2 {
  text-align: center;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

#works {
  padding: 20px;
  margin: 50px 0;
}
#works .hero-text {
  font-family: Arvo;
  font-weight: bold;
  font-size: 60px;
  text-align: center;
  color: #5622a8;
}

#works h3 {
  font-family: Arvo;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: rgba(0, 0, 0, 0.8);
}

#partners {
  padding: 20px;
  margin: 40px 0;
  text-align: center;
}

#partners h3 {
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.8);
}

#partners h4 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #5622a8;
}

#partners img {
  margin: 30px 0 10px 0;
}

#partners .quote {
  background: url("../img/quote.png") no-repeat;
}

#mentalize p {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.8);
}
#mentalize li {
  margin-bottom: 15px;
}
.monetize h4 {
  text-align: center;
  font-weight: bold;
  font-size: 29px;
  line-height: 42px;
  margin-bottom: 20px;
}

input.form {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 15px;
}

button.submit {
  color: #fff;
  background: #7a37d5;
  outline: none;
  border: none;
  padding: 0.5rem 2em;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#header {
  width: 100%;
  margin-bottom: 50px;
}

#header a.navbar-brand {
  background: transparent;
}

#header a.apply {
  background: #7a37d5;
  border-radius: 5px;
  padding: 10px 50px;
  color: beige;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

#header a.message {
  border-radius: 5px;
  padding: 10px 50px;
  color: #2b88f7;
  border: 1px solid #2b88f7;
  line-height: 20px;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

#header h3 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 50px;
  text-transform: capitalize;
  font-family: "Arvo", sans-serif;
}

#header p {
  margin-bottom: 50px;
  font-size: 22px;
}

#header li a {
  /* color: rgba(0, 0, 0, 0.6); */
  font-weight: 500;
  transition: all 500ms ease-in-out;
}

#header li a:hover{
  transform: scale(1.05);
}

#header li a.signup {
  background: #7a37d5;
  color: #fff;
  padding: 0.6rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
}

#header li a.login {
  color: #2b88f7;
  margin-right: 25px;
  font-size: 18px;
}

#header img.nav {
  height: 60px;
}

#header img.man {
  /* margin-top: 70px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#industry {
  margin: 50px 0;
  padding: 20px;
}

#industry p {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.6);
}

#industry img {
  transition: all 500ms ease-in-out;
  opacity: 0.7;
  cursor: pointer;
}

#industry img:hover {
  opacity: 1;
  transform: scale(1.1);
}

#services a {
  color: #000;
  text-decoration: none;
}

#what iframe {
  width: 480px;
  height: 320px;
}

#footer {
  background-color: #5622a8;
  color: #fff;
  padding: 40px;
}

#footer .icons {
  display: inline-flex;
  justify-content: space-between;
}
#footer i {
  background-color: #fff;
  color: #5622a8;
  height: auto;
  width: auto;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 30px;
}

#footer li {
  list-style: none;
  margin-bottom: 5px;
}
#footer li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  #why {
    padding: 100px 0 10px 10px;
    height: 400px;
  }

  #what iframe {
    width: 360px;
    height: 300px;
  }

  #header h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #header a.apply {
    padding: 10px 50px;
    color: beige;
    line-height: 10px;
    font-size: 18px;
  }
  #header img.man {
    margin: 20px 0;
    height: 80%;
  }
  #header a.apply,
  #header a.message {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: auto;
  }
}

@media screen and (max-width: 1200px) {
  #why {
    padding: 100px 0 10px 10px;
    height: 400px;
  }

  #header h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header p {
    font-size: 16px;
    margin-bottom: 40px;
  }

  #header a.apply,
  #header a.message {
    font-size: 16px;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    padding: auto;
  }
}
