* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* HEADER STYLING */
#header {
  width: 100%;
  margin-bottom: 50px;
}

#header nav{
  margin-bottom: 30px;
}

#works,
#ready{
    padding: 30px;
}

#ready{
  background: rgb(236, 236, 236);
}
#header a.navbar-brand {
  background: transparent;
}

#header img.nav {
  height: 60px;
}

#header h3 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: "Arvo", sans-serif;
}

#header p {
  margin-bottom: 50px;
  font-size: 26px;
  letter-spacing: .35rem;
  font-family: 'Poppins', sans-serif;
}

#header li a {
  font-weight: 500;
  transition: all 500ms ease-in-out;
  outline: none;
}

#header li a:hover{
  transform: scale(1.05);
}

#header li a.active{
  position: relative;
}

#header li a.active:after{
  content: '';
  position: absolute;
  left: 50%;
  bottom:0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: rgba(122, 55, 213, 0.2);
  color: red;
}

#header li a.signup {
  background: #7a37d5;
  color: #fff;
  padding: 0.6rem 1rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: inline-block;
}

#header li a.login {
  color: #2b88f7;
  margin-right: 25px;
  font-size: 18px;
}

#header img.nav {
  height: 60px;
}

#header img.man {
  /* margin-top: 70px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* BODY STYLING */
#works h3 {
  margin-top: 200px;
  margin-bottom: 20px;
  font-size: 44px;
  font-family: "Arvo", sans-serif;
  font-weight: bold;
}

#works p {
  font-size: 24px;
  line-height: 40px;
  margin-bottom: 50px;
}

#works a {
  text-decoration: underline;
  color: #7a37d5;
  font-size: 20px;
}

#works a#more {
  color: #fff;
  background: #7a37d5;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


#works .horizontal{
  background: url('../img/dots.png');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 18%;
}

#works .nobio{
  background: url('../img/dotsbg.png');
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 40%;
}
#ready h3 {
    margin-top: 50px;
  color: #7a37d5;
  font-weight: bold;
  font-family: "Arvo", sans-serif;
  font-size: 48px;
  margin-bottom: 30px;
}
#ready p {
  font-size: 28px;
  letter-spacing: 0.4rem;
}

#ready span a {
  color: #7a37d5;
  text-decoration: underline;
}

/* FOOTER STYLING */
#footer a,
#footer p {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

#footer {
  background-color: #5622a8;
  color: #fff;
  padding: 40px;
}

#footer .icons {
  display: inline-flex;
  justify-content: space-between;
}
#footer i {
  background-color: #fff;
  color: #5622a8;
  height: auto;
  width: auto;
  padding: 8px 10px;
  font-size: 20px;
  border-radius: 50%;
  margin-right: 30px;
}

#footer li {
  list-style: none;
  margin-bottom: 5px;
}
#footer li a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
  #header h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #header p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #header img.man {
    margin: 20px 0;
    height: 80%;
  }
  #works h3 {
    margin-top: 20px;
  }
  #works p{
      font-size:20px;
  }
  #works a#more {
    font-size: 16px;
  }
  #ready h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 1200px) {
  #header h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #header p {
    font-size: 16px;
    margin-bottom: 40px;
  }
  #works h3 {
    margin-top: 50px;
  }
  #works p{
    font-size:20px;
}
  #ready h3 {
    margin-top: 50px;
    font-size: 30px;
}
#ready p{
    font-size: 20px;
}
}


@media screen and (max-width:990px){
  #header li a.active:after{
      content:none;
}
}